body {
  /* background-image: url("https://images.adsttc.com/media/images/59ee/bc5e/b22e/383b/6b00/00fc/slideshow/FPTHanoi01_exterior_OKI.jpg?1508818010"); */
  background-size: 100% auto;
  background-position: left center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  margin-left: 200%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.727);
  border-radius: 10px;
  padding: 40.5px 48.6px; /* Giảm kích thước padding thêm 10% */
  border: 5px solid rgb(244, 239, 239);
  backdrop-filter: blur(10px);
}

.login-form input {
  width: 324px; /* Giảm kích thước chiều rộng thêm 10% */
  margin-bottom: 16.2px; /* Giảm kích thước margin-bottom thêm 10% */
  color: #f2f2f2;
  padding: 12.15px; /* Giảm kích thước padding thêm 10% */
  font-size: 14.58px; /* Giảm kích thước font thêm 10% */
}

.login-form button {
  width: 324px; /* Giảm kích thước chiều rộng thêm 10% */
  padding: 12.15px; /* Giảm kích thước padding thêm 10% */
  font-size: 14.58px; /* Giảm kích thước font thêm 10% */
}

.remember-me-label {
  font-weight: bold;
  color: rgb(254, 143, 8);
  margin-left: -10px;
  margin-right: 37px;
  left: -100px;
}

.login-button {
  border-radius: 14px;
}

.or {
  margin-top: 16.2px; /* Giảm kích thước margin-top thêm 10% */
  color: #ffffff;
  font-size: 14.58px; /* Giảm kích thước font thêm 10% */
}
.corner-logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 150px; /* Điều chỉnh kích thước của logo */
  z-index: 1000; /* Đảm bảo logo nằm trên các phần tử khác */
}
.login-form h5 {
  color: rgb(255, 255, 255);
  margin-bottom: 40.5px; /* Giảm kích thước margin-bottom thêm 10% */
  font-size: 35px; /* Giảm kích thước font thêm 10% */
  font-weight: bold;
 ;
}
.logo {
  width: 150px; /* Điều chỉnh kích thước của logo */
  margin-bottom: 20px; /* Khoảng cách phía dưới logo */
}
button {
  margin-top: 16.2px; /* Giảm kích thước margin-top thêm 10% */
  width: 100%;
  background-color: #ebe0ec;
  color: #000000;
  padding: 16.2px 0; /* Giảm kích thước padding thêm 10% */
  font-size: 16.2px; /* Giảm kích thước font thêm 10% */
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
