
.student-do-quiz {
  padding-left: 150px;
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  margin: 2%;
  z-index: 1;  
}

.question-card{
  margin-top: 20px;
  height: 110%;
  background-color: azure;
}

.navigation-card {
  margin-top: 20px;
  margin-left: 20px;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.previous-button:before {
  content: "\2190"; /* Unicode for left arrow */
  margin-right: 5px;
  font-size: 28px;
  font-weight: bold;
  
}

.next-button:after {
  content: "\2192"; /* Unicode for right arrow */
  margin-left: 5px;
  font-size: 28px;
  font-weight: bold;
}

.quiz-navigation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.timer {
  color: black; /* Màu mặc định */
}

.timer-red {
  color: red; /* Màu đỏ khi thời gian còn 5 phút */
}







