.quiz-review-container {
  flex-grow: 1;
  padding: 20px;
}

.student-quiz-review-title {
  text-align: center;
  margin-bottom: 10px;
}

.student-quiz-review-score {
  text-align: center;
  margin-bottom: 20px;
}

.quiz-review-card {
  margin-top: 20px;
}

.question-item {
  margin-bottom: 20px;
}

.question-text {
  font-weight: bold;
}

.your-answer {
  margin-top: 10px;
}

.answer-status {
  margin-top: 10px;
}

.correct-answer {
  color: green;
}

.wrong-answer {
  color: red;
}
