body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.change-password-container {
  display: flex;
  margin-left: 69%;
  background-color: #2370e3;
  width: 30%;
  border-radius: 5px;
  margin-bottom: 10px;
  color:#ffffff;
}

.change-password-form {
  background: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 425px;
  text-align: center;
  margin-left: 4%;
}

.change-password-form h2 {
  color: #1877f2;
  margin-bottom: 20px;
  font-size: 24px;
}

.change-password-form .MuiTextField-root {
  margin-bottom: 20px;
}

.change-password-button {
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 6px;
  width:52%;
  margin-left:22%;
}

.Close-button {
  width: 20px;
}

