.leftSideBar {
    background-color: #101214;
  }
  .menu{
    background-color: #101214;
     width: 250px;
     height: 120px;
     margin-bottom: 30px;
  }
  
  .avatarText {
    color: white;
  } 
  

  .itemList {
    margin-top: 20px;
    height: 55px; 
  }

 .itemText {
    color: white;
  } 
  
  .itemList .itemIcon {
    color: white;
    font-size: 35px;
  }
  
  .Logout {
    color: white;
  }
  
  .Logout .itemIcon {
    color: white;
    font-size: 35px;
  }
  
  .MuiDrawer-paper {
    background-color: #101214 !important;
  }
  