.course-card {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 4px;
  background-color: #f5f5f5;
}
.course-card h3 {
  margin-top: 0;
}
.course-card p {
  margin-bottom: 8px;
}
.filters {
  margin-left: 25%;
  padding: 20px;
}

.TeacherCourseListPage {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.TeacherCourseListPage .search-input {
  flex-grow: 1;
  max-width: 300px;
  margin-right: 1rem;
}

.TeacherCourseListPage .filter-semester {
  margin-left: auto;
}
